.body-top {
    position: absolute;
    width: 100%;
    height: 486px;
    left: 0px;
    top: 0px;
    background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjB9f53HKybeHhVpNIjrdYfmR575KDpJYQETXKZ0gAaAFwQ9SHyVwPm3HhEitHo0VXL7JdWd2xCzySVF__ex7JKF452JfoMnLk26MixK0WX7GY12_u0IWWrTjwxdnnPwEfCQM7hV_6zUGqg-Aiapo1GA-f-gof42F2UeXQOo_8wqwAMb8RWAKptm6fAUQ/s1600/WhatsApp%20Image%202022-11-02%20at%2017.08%201.png);
}

.body-top-header-text h3 {
    position: absolute;
    width: 1007px;
    height: 100px;
    left: 95px;
    top: 250px;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 118px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    background: linear-gradient(105.2deg, #699BF7 1.69%, rgba(105, 155, 247, 0) 99.89%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.body-top-header-text p {
    position: absolute;
    width: 842px;
    height: 106px;
    left: 104px;
    top: 345px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 53px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.body-about {
    position: absolute;
    width: 100%;
    height: 723px;
    left: 0px;
    top: 485px;
    background: linear-gradient(105.2deg, #699BF7 1.69%, rgba(105, 155, 247, 0) 99.89%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about-us-title h2 {
    position: absolute;
    width: 441px;
    height: 136px;
    left: 462px;
    top: 50px;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 136px;
    /* letter-spacing: -0.08em; */
    color: #FFFFFF;
}

.about-us-title strong {
    color: #D1CFC8;
}

.about-us-title-line {
    position: absolute;
    width: 432px;
    height: 4px;
    left: 458px;
    top: 165px;
    background: #000000;
    border-radius: 25px;
}

.about-us-title-line-over {
    position: absolute;
    width: 329px;
    height: 4px;
    left: 50px;
    top: 0px;
    background: #949090;
    border-radius: 25px
}

.about-us-paragraph p {
    position: absolute;
    height: 83px;
    left: 34px;
    top: 210px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.08em;
    color: rgba(0, 0, 0, 0.62);

}

.about-us-card {
    position: absolute;
    width: 100%;
    height: 388px;
    left: 0px;
    top: 320px;
    overflow: hidden;
}

.my-card {
    width: 377px;
    height: 335px;
    left: 50px;
    background: rgba(226, 232, 243, 0.71);
    box-shadow: 8px 5px 5px -1px rgba(0, 0, 0, 0.25);
}

.my-card-hader {
    width: 377px;
    height: 61px;
    left: 0px;
    top: 0px;
    background: #4169E1;
}

.my-card-hader h4 {
    position: absolute;
    width: 156px;
    height: 37px;
    left: 98px;
    top: 12px;

    /* font-family: 'Open Sans'; */
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.16em;

    color: #FFFFFF;
}

.my-card-body-list-1 ul li p {
    /* position: absolute; */
    width: 325px;
    height: 74.26px;
    left: 5px;
    top: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: #000000;
}

.my-card-body-list-2 ul li p {
    /* position: absolute;  */
    width: 325px;
    height: 74.26px;
    left: 2px;
    top: 162px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: #000000;
}

.card-body-line {
    position: absolute;
    width: 179px;
    height: 2.93px;
    left: 9px;
    top: 268.47px;

    background: #636363;
    border-radius: 25px;
}


.my-card-button {
    box-sizing: border-box;

    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 10%;
    width: 120px;
    height: 35px;
    bottom: 0%;
    margin-top: 40px;
    margin-left: 60%;
    background: #FFFFFF;
    border: 2px solid #4169E1;
}

.my-card-button a {

    left: 19.01%;
    right: 19.01%;
    top: 23%;
    bottom: 26.53%;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.07em;

    color: #4169E1;
    text-decoration: none;
}

.app-product-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 22px 30px;
    gap: 10px;

    position: absolute;
    width: 663px;
    height: 87px;
    left: 349px;
    top: 1240px;
    background: #FFFFFF;
    box-shadow: 5px 4px 4px 7px rgba(0, 0, 0, 0.25);
}

.app-product-title h2 {
    width: 603px;
    height: 53px;

    /* font-family: 'Open Sans'; */
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 53px;
    /* identical to box height, or 110% */

    letter-spacing: 0.29em;

    color: #699BF7;

    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.product-gallery {
    position: absolute;
    top: 1360px;
    overflow: hidden;
}

.gallery-button a {
    width: 190px;
    height: 29px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 29px;
    /* identical to box height, or 81% */

    text-align: center;
    letter-spacing: 0.23em;

    color: #4169E1;

    transform: rotate(-90deg);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.gallery_product {
    margin: 0px;
    padding: 0;
    position: relative;
}

.gallery_product .img-info {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    overflow: hidden;
    color: #fff;
    top: 0;
    display: none;
    -webkit-transition: 2s;
    transition: 2s;
}

.gallery_product:hover .img-info {
    display: block;
    -webkit-transition: 2s;
    transition: 2s;
}

.home-app-news {
    position: absolute;
    width: 100%;
    height: 420px;
    left: 0px;
    top: 2109px;

    background: linear-gradient(96.97deg, #4169E1 33.92%, #699BF7 61.47%);
}

.home-news-title h2 {
    position: absolute;
    width: 298px;
    height: 58px;
    left: 534px;
    top: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 58px;
    /* letter-spacing: 0.1em; */
    color: #FCFCFC;

}

.home-news-title-line {
    position: absolute;
    width: 263px;
    height: 3px;
    left: 535px;
    top: 110px;

    background: #877878;
    border-radius: 25px;
}

.home-news-title-line-over {
    position: absolute;
    width: 186px;
    height: 3px;
    left: 535px;
    top: 110px;

    background: #D9D9D9;
    border-radius: 25px;
}

.news-card-1 {
    position: absolute;
    width: 492px;
    height: 57px;
    left: 150px;
    top: 160px;


    border-radius: 15px;
}

.news-card-2 {
    position: absolute;
    width: 492px;
    height: 57px;
    left: 700px;
    top: 160px;


    border-radius: 15px;
}


.news-card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 42px;
    /* or 168% */
    letter-spacing: -0.04em;

    color: #000000;

}

.home-app-clients {
    position: absolute;
    width: 100%;
    height: 267px;
    left: 0px;
    top: 2530px;

    background: #FFFFFF;
    box-shadow: 0px -8px 14px rgba(0, 0, 0, 0.25);
}

.home-clients-title h2 {
    position: absolute;
    width: 427px;
    height: 43.39px;
    left: 470px;
    top: 50px;
    /* font-family: 'Open Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.63);

}

.home-clients-title-line {
    position: absolute;
    width: 390px;
    height: 3.1px;
    left: 488px;
    top: 120px;

    background: rgba(254, 0, 0, 0.57);
}

.home-clients-img {
    position: absolute;
    width: 1331px;
    height: 40px;
    left: 0px;
    top: 150px;
    background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhG3hfSCqfj7BAUiPDbSrzYed0FMNryMpQfbOgzCaNVHEhzI2ChFwwcdP_4ptmDOoAJKKgdMuUzqSmC14XjE9Z4FU9Uyjdm5bLWernKGVYyRt7Tw8zYOU9eRnaNLZUZv86032bTVXjNfBNTGJNo55o-e20JOneMr_3-3Wc8NOsmDwXq5EhaogSXhn9ajg/s1600/image%2010.png);
}

.home-app-footer {
    position: absolute;
    width: 100%;
    height: 306px;
    left: 0px;
    top: 2895.92px;

    background: #2C2424;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

/* .home-app-develop {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 81px;
    left: 0px;
    top: 220px;
    background: rgba(0, 0, 0, 0.84);
} */

.copyright {
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    height: 81px;
    left: 0px;
    top: 3201.92px;

    background: rgba(0, 0, 0, 0.84);
}

.copyright p {
    position: absolute;
    width: 420px;
    height: 43px;
    left: 473px;
    top: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */

    text-align: center;
    letter-spacing: -0.01em;

    color: #FFFFFF;

}

.contact-title h2 {
    position: absolute;
    overflow: hidden;
    width: 198px;
    height: 45.66px;
    left: 584px;
    top: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 57px;
    text-align: center;
    color: #FFFFFF;
}

.contact-subtitle {
    position: absolute;
    width: 268px;
    height: 11.21px;
    left: 549px;
    top: 100px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 14px;
    /* or 70% */

    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.contact-address-title {
    position: absolute;
    width: 164px;
    height: 29px;
    left: 610px;
    top: 130px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    /* or 180% */

    text-align: center;
    letter-spacing: -0.06em;

    color: #FFFFFF;

}

.contact-address {
    position: absolute;
    width: 478px;
    height: 28.84px;
    left: 444px;
    top: 150px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    /* or 180% */

    text-align: center;
    letter-spacing: -0.08em;

    color: #FFFFFF;
}

.contact-phone {
    position: absolute;
    width: 460px;
    height: 32.04px;
    left: 453px;
    top: 170px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    /* or 180% */

    text-align: center;
    letter-spacing: -0.06em;

    color: #FFFFFF;

}

.contact-email {
    position: absolute;
    width: 293px;
    height: 11.21px;
    left: 536px;
    top: 190px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 14px;
    /* or 70% */

    text-align: center;
    letter-spacing: -0.05em;

    color: #FFFFFF;

}