<div class="container-fluid">
    <div class="app-home-body">
        <div class="row">
            <div class="col">
                <div class="body-top">
                    <div class="body-top-header-text">
                        <h3>ISLAM ACCESSORIES LIMITED</h3>
                        <p>100% Export Oriented <strong class="text-primary">Garments Accessories</strong> Manufacturer
                            & <strong class="text-primary">Supplie</strong> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-about">
            <div class="row">
                <div class="col">
                    <div class="about-us">
                        <div class="about-us-title">
                            <h2>ABOUT <strong>US</strong></h2>
                            <div class="about-us-title-line">
                                <div class="about-us-title-line-over"></div>
                            </div>
                        </div>
                        <div class="about-us-paragraph">
                            <p>
                                Islam Accessories Limited is your quality garments accessories manufacturer looking for
                                highest support through integrity, teamwork & innovation. Besides that world class
                                machineries for accessories manufacturing, accelerate our strength provide you finest
                                quality product. Our product line include different types of Twill Tape, Drawstring,
                                Knit Elastic, Jacquard Elastic, Woven Elastic etc
                            </p>
                        </div>

                        <div class="about-us-card">
                            <div class="row text-center">
                                <div class="col-4">
                                    <div class="card mb-3 my-card">
                                        <div class="card-header my-card-hader">
                                            <h4>Our Vision</h4>
                                        </div>
                                        <div class="card-body my-card-body">
                                            <div class="my-card-body-list-1">
                                                <ul>
                                                    <li>
                                                        <p>
                                                            To manufacture internationally compatible quality standard
                                                            product,
                                                        </p>
                                                    </li>
                                                </ul>

                                            </div>
                                            <div class="my-card-body-list-2">
                                                <ul>
                                                    <li>
                                                        <p>
                                                            To be globally customer focused through better quality......
                                                        </p>
                                                    </li>
                                                </ul>

                                            </div>
                                            <div class="card-body-line">

                                            </div>
                                            <div class="my-card-button">
                                                <a href="">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card mb-3 my-card">
                                        <div class="card-header my-card-hader">
                                            <h4>OUR MISSION</h4>
                                        </div>
                                        <div class="card-body my-card-body">
                                            <div class="my-card-body-list-1">
                                                <ul>
                                                    <li>
                                                        <p>
                                                            To manufacture world class products with outstanding
                                                            quality.
                                                        </p>
                                                    </li>
                                                </ul>

                                            </div>
                                            <div class="my-card-body-list-2">
                                                <ul>
                                                    <li>
                                                        <p>
                                                            To become a globally prominent ....
                                                        </p>
                                                    </li>
                                                </ul>

                                            </div>
                                            <div class="card-body-line">

                                            </div>
                                            <div class="my-card-button">
                                                <a href="">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card mb-3 my-card">
                                        <div class="card-header my-card-hader">
                                            <h4>OUR GOAL</h4>
                                        </div>
                                        <div class="card-body my-card-body">
                                            <div class="my-card-body-list-1">
                                                <ul>
                                                    <li>
                                                        <p>
                                                            Customer support & satisfaction.
                                                        </p>
                                                    </li>
                                                </ul>

                                            </div>
                                            <div class="my-card-body-list-2">
                                                <ul>
                                                    <li>
                                                        <p>
                                                            Always expand the boundaries by looking for new.....
                                                        </p>
                                                    </li>
                                                </ul>

                                            </div>
                                            <div class="card-body-line">

                                            </div>
                                            <div class="my-card-button">
                                                <a href="">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-app-product">
            <div class="row">
                <div class="col">
                    <div class="app-product-title">
                        <h2>OUR MAIN PRODUCTS </h2>
                    </div>
                </div>
            </div>
            <div class="product-gallery">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=122">
                                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=122" />
                                    <div class='img-info'>
                                        <h4>Image Title 1</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=526">
                                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=526" />
                                    <div class='img-info'>
                                        <h4>Image Title 2</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=626">
                                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=626" />
                                    <div class='img-info'>
                                        <h4>Image Title 3</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=626">
                                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=626" />
                                    <div class='img-info'>
                                        <h4>Image Title 4</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </a>
                            </div>

                        </div>

                        <div class="row">
                            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=486">
                                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=486" />
                                    <div class='img-info'>
                                        <h4>Image Title 5</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=846">
                                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=846" />
                                    <div class='img-info'>
                                        <h4>Image Title 6</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=1066">
                                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=1066" />
                                    <div class='img-info'>
                                        <h4>Image Title 7</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=506">
                                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=506" />
                                    <div class='img-info'>
                                        <h4>Image Title 8</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </a>
                            </div>

                        </div>

                        <div class="row">
                            <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=1026">
                                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=1026" />
                                    <div class='img-info'>
                                        <h4>Image Title 9</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=1077">
                                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=1077" />
                                    <div class='img-info'>
                                        <h4>Image Title 10</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=102">
                                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=102" />
                                    <div class='img-info'>
                                        <h4>Image Title 11</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=106">
                                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=106" />
                                    <div class='img-info'>
                                        <h4>Image Title 12</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </a>
                            </div>

                        </div>

                    </div>

                    <!-- <div class="col-4">
                        <div class="gallery-button">
                            <a href="">SEE MORE</a>
                        </div>
    
                    </div> -->

                </div>




            </div>




        </div>
        <div class="home-app-news">
            <div class="row">
                <div class="col">
                    <div class="home-news-title">
                        <h2>LATEST NEWS</h2>
                        <div class="home-news-title-line">
                        </div>
                        <div class="home-news-title-line-over">
                        </div>

                    </div>
                    <div class="home-news-card">
                        <div class="row">
                            <div class="news-card-1">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h3 class="card-title news-card-title">TITLE OF Accessories Certification TITLE
                                        </h3>
                                        <p class="card-text">AMAZING APP TO SYNCHRONIZE YOUR LIFE WITH BEST FRIENDS. BE
                                            MOBILE. BE POPULAR. All Telecom Carrier All Telecom Carrier Never Miss Any
                                            Interaction Starting as low as 0.25 - 0.15 BDT/Per SMS Depend On Slab</p>
                                        <a href="#" class="btn btn-outline-primary">READ MORE</a>
                                    </div>
                                </div>

                            </div>
                            <div class="news-card-2">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h3 class="card-title news-card-title">TITLE OF Accessories Certification TITLE
                                        </h3>
                                        <p class="card-text">AMAZING APP TO SYNCHRONIZE YOUR LIFE WITH BEST FRIENDS. BE
                                            MOBILE. BE POPULAR. All Telecom Carrier All Telecom Carrier Never Miss Any
                                            Interaction Starting as low as 0.25 - 0.15 BDT/Per SMS Depend On Slab</p>
                                        <a href="#" class="btn btn-outline-primary">READ MORE</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </div>

        <div class="home-app-clients">
            <div class="row">
                <div class="col">
                    <div class="home-clients-title">
                        <h2>Our Clients</h2>
                        <div class="home-clients-title-line">
                        </div>
                    </div>

                </div>

                <div class="col">
                    <div class="home-clients-img">
                        <img src="" alt="">
                    </div>

                </div>

            </div>


        </div>

        <div class="home-app-footer">

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="contact-title">
                            <h2>Contact Us</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="contact-subtitle">
                            <h3>Islam Accssories Limited</h3>

                        </div>
                    </div>
                    <div class="row">
                        <div class="contact-address-title">
                            <h3>Factory Address:</h3>

                        </div>

                    </div>
                    <div class="row">
                        <div class="contact-address">
                            <h3>Enayetpur, Mirzanagor, Ashulia, Savar, Dhaka, Bangladesh </h3>

                        </div>

                    </div>
                    <div class="row">
                        <div class="contact-phone">
                            <h3>Hot line: 01958-462090, 01958-462091, 01958-462092</h3>
                        </div>

                    </div>
                    <div class="row">
                        <div class="contact-email">
                            <h3>Email:islamaccessoriesltd.com.bd</h3>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div class="home-app-develop">
            <div class="row">
                <div class="col">
                    <div class="copyright text-center text-white">
                        <p>
                            © 2022 MLD BD BANGLADESH. All Rights Reserved. Website Design , Develop & Maintained By :
                            MASS DATA LIMITED
                        </p>

                    </div>

                </div>

            </div>


        </div>




    </div>
</div>