<div class="container-fluid">
    <div class="row">
        <app-home></app-home>
    </div>
    <div class="row">
        <app-header></app-header>
    </div>
    <div class="row">
        <app-navbar></app-navbar>
    </div>

    <router-outlet></router-outlet>
</div>