.app-navbar {
    position: absolute;
    width: 100%;
    height: 52px;
    left: 0px;
    top: 81px;
    background: #FFFFFF;
}

.app-navbar ul li a {
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    /* identical to box height */
    letter-spacing: -0.08em;
    color: #4169E1;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.app-navbar ul li a:hover{
    background-color: #4169E1;
    color:#FFFFFF;
    border-radius: 5px;
}