.header {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 81px;
    left: 0px;
    top: 0px;
    background: #FCFCFC;
    border: 1px solid #FBFBFB;
    overflow: hidden;
}

.logo-left {
    width: 350px;
}

.logo-text {
    text-align: center;
}

.logo-text-1 {
    position: absolute;
    width: 142px;
    height: 30px;
    left: 167px;
    top: 1px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.5em;
    color: #EA853A;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.25);
}

.logo-text-2 {
    position: absolute;
    width: 156px;
    height: 42px;
    left: 178px;
    top: 17px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #2A2521;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-text-3 {
    position: absolute;
    width: 183px;
    height: 42px;
    left: 170px;
    top: 39px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.80em;
    color: #000000;
}